#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.city {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.city_key {
  font-size: 0.8rem;
  margin-left: 1rem;
  color: rgb(146, 97, 25);
}
